<nav class="navbar navbar-expand-lg bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ "/" | relURL }}"><i class="bi-bootstrap-fill"></i>-shortcodes</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link active" href="{{ "/inject/" | relURL }}">Injection</a></li>
        <li class="nav-item active"><a class="nav-link active" href="{{ "/customize/" | relURL }}">Customization</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Shortcodes</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ "/shortcodes/alert/" | relURL }}"><code>Alerts</code></a></li>
            <li><a class="dropdown-item" href="{{ "/shortcodes/icon/" | relURL }}"><code>Icons</code></a></li>
            <li><a class="dropdown-item" href="{{ "/shortcodes/table/" | relURL }}"><code>Tables</code></a></li>
          </ul>
        </li>
        <li class="nav-item active"><a class="nav-link active" href="{{ "/about/" | relURL }}">About</a></li>
      </ul>
    </div>
  </div>
</nav>
